# Chapter 24: Arithmetical and Geometrical Series

## Example 24.10: Finding_the_common_ratio.sce

In [ ]:
//3rd term of G.P is 4.5 and 9th is 16.2
clear;
clc;
close;
// nth term=a*r^(n-1)
term3=4.5;//given data
//'a*r^(3-1)=4.5  ---equ(1)'
term9=16.2;//given
//'a*r^(9-1)=16.2 ---equ(2)'
mprintf('
 the common ratio is :
');
format(7)
r=(16.2/4.5)^(1/6)//equ(2)/equ(1)

## Example 24.11: Sum_of_seven_terms_of_the_series.sce

In [ ]:
//sum of 7 terms of the series 2,3,4,5,....
clear;
clc;
close;
r=3/2;a=2;n=7;//given
//using the formula
S=string('a*(r^(n)-1)/(r-1)')
disp('substituting the given values ')
format(6)
Sum=evstr(S)

## Example 24.12: Sum_of_7_terms.sce

In [ ]:
//sum of 7 terms of the series 4,-8,16,....
clear;
clc;
close;
r=-8/4;a=4;n=7;//given
//using the formula
S=string('a*(r^(n)-1)/(r-1)');
//substituting the values 
Sum=evstr(S)

## Example 24.13: Sum_of_infinite_terms.sce

In [ ]:
//sum to infinity series 2 + 1/2 + 1/8 + ......
clear;
clc;
close;
a=2;r=1/4;//given
//using the formula
S_infinity=string('a/(1-r)');
Sum=evstr(S_infinity)

## Example 24.14: Sum_to_infinity_of_the_series.sce

In [ ]:
//sum to infinity series 5 - 1 + 1/5 - ......
clear;
clc;
close;
a=5;r=-1/5;//given
//using the formula
S_infinity=string('a/(1-r)');
Sum=evstr(S_infinity)

## Example 24.1: Arithmetic_series.sce

In [ ]:
clc;
clear;
close;
//ex(1) 7,13,19,25....
common_diff=19-13
//ex(2) 6,4,2,0,-2
common_diff=2-4

## Example 24.2: Nth_term_in_arithmetic_series.sce

In [ ]:
clc;
clear;
close;
//ex(1) in the series 7,10,13,.... the common difference is 3. 10th trerm is ?
nth_term=string('7+(n-1)*3')
term10=7+(10-1)*3
//ex(2) i the series 6,2,-2,-6,....and d=-4
nth_term=string('6-(n-1)*4')
term8=6+(8-1)*-4

## Example 24.3: Arithmetic_mea.sce

In [ ]:
//insert 3 A.M's between 4 and 20
clc;
clear;
close;
//let 4,a,b,c,20 are in A.P. using, l=a+(n-1)*d
d=(20-4)/(5-1);
a=4+d;
b=a+d;
c=b+d;
mprintf('the five terms are 4,%i,%i,%i,20',a,b,c)

## Example 24.4: Finding_common_difference_in_AP.sce

In [ ]:
//sum of A.P of 8 terms is 90.1st term is 6.
clear;
clc;
close;
// using s=n*{2*a+(n-1)*d}/2 
//substituting given values
for d=0:0.001:100
  if(90==8/2*{2*6 + (8-1)*d})
format(5)
d
    break
  end
end

## Example 24.5: Finding_n_value_in_arithmetic_sum.sce

In [ ]:
clear;
clc;
close;
// using s=n*{2*a+(n-1)*d}/2 
a=3;d=3;s=135;
//substituting given values
n=poly(0,'n');
p=n/2*{6 + (n-1)*3}-135;
n=roots(p)
mprintf('
 As root -10 is inadmissible, the solution is n=9')

## Example 24.6: Geometric_series.sce

In [ ]:
clc;
clear;
close;
//ex(1).1,2,4,8,...
commom_ratio=4/2
//ex(2). 1,1/2,1/4,1/8,....
common_ratio=(1/4)/(1/2)
//ex(3). 2,-6,18,-54
common_ratio=-6/2
//ex(4). R,R^2,R^3,R^4....
R=poly(0,'R');
common_ratio=R^2/R

## Example 24.7: Seventh_term_of_given_series.sce

In [ ]:
//7th term of the series 3,6,12,....
clear;
clc;
close;
//in the series r=2, so using the formula
// nth term=a*r^(n-1) 
a=3;n=7;//given data
term7=3*(2)^(7-1);
mprintf('
 the seventh term of the series is %i',term7)

## Example 24.8: Eighth_term_of_given_series.sce

In [ ]:
//8th term of the series 2,-6,18,-54,......
clear;
clc;
close;
//in the series r=-3, so using the formula
// nth term=a*r^(n-1) 
a=2;n=8;//given data
term8=2*(-3)^(8-1);
mprintf('
 the eighth term of the series is %i',term8)

## Example 24.9: Finding_the_5th_term.sce

In [ ]:
//5th term of the series.1st term is 100 and common ratio(r) is 0.63
clear;
clc;
close;
// using the formula
//nth term=a*r^(n-1) 
a=100;n=0.63;//given data
mprintf('
 the fifth term of the series is 
')
format(6)
term5=100*0.63^(5-1)