# Chapter 5: Expressions and Equations

## Example 5.10: Substitute_number_in_the_rule.sce

In [ ]:
clear;
clc;
close;
for x=1:20
  if(3*x+4==19)
    mprintf('the number which gives 19 as result is %i',x)
  end
  end

## Example 5.11: Finding_x.sce

In [ ]:
clear;
clc;
close;
for x=1:10
  if(5*x-7==8)
    mprintf('the value of x is %i
',x)
    break
  end
end

## Example 5.12: Value_of_x.sce

In [ ]:
clear;
clc;
close;
for x=1:20
  if(5*(x-3)==20)
    mprintf('the value of x is %i 
',x)
    break
  end
end

## Example 5.13: Finding_n.sce

In [ ]:
clear;
clc;
close;
for n=1:60
  if(3*(2*n-5)+4==55)
    mprintf('the value of n is %i 
',n)
    break
  end
end

## Example 5.1: Nth_term_of_the_sequence.sce

In [ ]:
clc;
clear;
close;
//46ex
//nth term in the sequence 2,4,6,8,10...is 2n. 5th term is?
term5=2*5
//nth term in the sequence 1,4,9,16,25 is n^2. 5th term is?
ex2_term5=5^2

## Example 5.2_a: Using_function_machines.sce

In [ ]:
// 5,8,11,14,17.....
clear;
clc;
close;
a=5;//a is starting number of the series
n=5;//given n=5
d=3;//difference between the numbers
td=a+(n-1)*d; //formula to be used for arithmetic series
mprintf('ans= %i',td)

## Example 5.2_b: Value_substitution_in_function_machine.sce

In [ ]:
// 9,12,15,18,21.....
clear;
clc;
close;
a=9;//a is starting number of the series
n=5;//given n=5
d=3;//difference between the numbers
td=a+(n-1)*d;//formula to be used for arithmetic series
mprintf('ans= %i',td)

## Example 5.3_a: substitution_in_function_machine.sce

In [ ]:
// 5,12,19,26,33.....
clear;
clc;
close;
a=5;//a is starting number of the series
n=5;//given n=5
d=7;//difference between the numbers
td=a+(n-1)*d; //formula to be used for arithmetic series
mprintf('result= %i',td)

## Example 5.3_b: Square_and_add.sce

In [ ]:
// 3,6,11,18,27.....
clear;
clc;
close;
n=5;
td=n^2+2;
mprintf('result= %i',td)

## Example 5.4_a: Terms_of_the_sequence.sce

In [ ]:
// 5n-2
clear;
clc;
close;
mprintf('the first five terms of the sequence are: 
');
for n=1:5
  disp(5*n-2)
 end

## Example 5.4_b: sequence.sce

In [ ]:
//draw function machine for 4(n+5)
clear;
clc;
close;
mprintf('the first five terms of the sequence are: 
');
for n=1:5
  disp(4*(n+5))
 end

## Example 5.4_c: First_5_terms_of_the_sequence.sce

In [ ]:
//draw function machine for n^2+5
clear;
clc;
close;
mprintf('the first five terms of the sequence are: 
');
for n=1:5
  disp(n^2+5)
 end

## Example 5.5_a: Sequence_terms.sce

In [ ]:
// 4(5n-2)
clear;
clc;
close;
mprintf('the first five terms of the sequence are: 
');
for n=1:5
  disp(4*(5*n-2))
 end

## Example 5.5_b: First_5_terms.sce

In [ ]:
// 4(n+5)+3
clear;
clc;
close;
mprintf('the first five terms of the sequence are: 
');
for n=1:5
  disp(4*(n+5)+3)
 end

## Example 5.5_c: evaluate_the_expressio.sce

In [ ]:
// 2(n^2+5)
clear;
clc;
close;
mprintf('the first five terms of the sequence are: 
');
for n=1:5
  disp(2*(n^2+5))
 end

## Example 5.6_a: drawing_function_machine.sce

In [ ]:
//evaluate 2*(3*n^2+5)-4
clear;
clc;
close;
 n=7; //given
disp('ans=')
 disp(2*(3*n^2+5)-4)

## Example 5.6_b: simplifying_by_removing_brackets.sce

In [ ]:
//evaluate 2*(3*n^2+5)-4 by removing brackets
clear;
clc;
close;
n=poly(0,'n');
p1=2*(3*n^2+5)-4;//removing braces
n=7;//given
val=2*(3*n^2+5)-4

## Example 5.7_a: Composite_rule_fg.sce

In [ ]:
//f(x):x->3x;g(x):x->x-2;fg(5)
clear;
clc;
close;
x=poly(0,'x');
f=3*x;
g=x-2;
// fg= f(g(x))=f(x-2)=3*(x-2)
x=5;
fg=3*(x-2)

## Example 5.7_b: Composite_rule_gf.sce

In [ ]:
//f(x):x->x+3;g(x):x->x^2;gf(5)
clear;
clc;
close;
x=poly(0,'x');
f=x+3;
g=x^2;
// gf= g(f(x))=g(x+3)=(x+3)^2
x=5;
gf=(x+3)^2

## Example 5.8: Inverse_of_the_rule.sce

In [ ]:
//inverse of x->3x+4
clear;
clc;
close;
x=poly(0,'x');
p1=3*x+4;
disp(p1,'x->')
mprintf('inverse of the rule is:
 (x-4)/3')

## Example 5.9: Inverse.sce

In [ ]:
//inverse of x->3(x+4)-2
clear;
clc;
close;
x=poly(0,'x');
mprintf('1)inverse of the rule is:
 (x+2)/3-4 
 ');
x=6;//given
x=3*(x+4)-2;
mprintf('2)');
inv_val=(x+2)/3-4